.lists{
    display: flex;
    flex-direction: row;
    width: 95vw;
    overflow: scroll;
    margin: 10px;
    padding: 0;
}
.movie h3{
    color: white;
}
::-webkit-scrollbar {
   width: 3px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #696868; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #464444; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }